// Output every color in $colors as a series of classes
@mixin colors-as-classes($map: $colors) {
  @each $key, $v in $map {
    .color-#{$key} { color: color($key); }
    .bg-#{$key} { background-color: color($key); }
    .border-#{$key} { border: solid 1px color($key); }
  }
}

// Use it:
@include colors-as-classes();
